// --------------------------
// Base
// --------------------------

body {
	font-family: $font-family-base;
	font-size: $theme-fs-bs;
	background: $theme-body-bg;
	color: $theme-body-fg;
}


section img, [class="col-"] img {
	@include box-size(100%, auto);
}