// --------------------------
// Base
// --------------------------

body {
	font-family: $font-family-base;
	font-size: $theme-fs-bs;
	background: $theme-body-bg;
	color: $theme-body-fg;
}

body:before {
	content:"";
	position: absolute;
	@include box-size(358px, 445px);
	background: url($theme-music-symbol-large-image) left top no-repeat;
	top: 400px;
}

body:after {
	content:"";
	position: absolute;
	@include box-size(355px, 206px);
	background: url($theme-music-symbol-small-image) left top no-repeat;
	top:0; right: 0; 
	z-index: -1;
}

// Left align the page contents
body .container:nth-child(1) { margin-left:0;}

// Headings

h1,h2,h3,h4,h5,h6 { 
	font-weight: $theme-fw-normal; 
	font-size: $theme-fs-lg; 
	clear: both;
}
.heading-1 { font-size: $theme-fs-bs * 2; }
.heading-2 { 
	font-family: $font-family-secondary;
	font-size: $theme-fs-bs * 1.8;
	margin-bottom: $theme-fs-bs * 1.6;
}
.heading-3 { 
	font-family: $font-family-base;
	font-size: $theme-fs-bs * 1.2; 
	font-weight: $theme-fw-bold;
	color: $theme-color-white;
}
.heading-4 { font-size: $theme-fs-bs * 1.4; }
.heading-5 { font-size: $theme-fs-bs * 1.2; }
.heading-6 { font-size: $theme-fs-bs; }


hr { 
	margin:$spacing-large-vertical 0; 
	$border-color: lighten($theme-color-darkgrey, 10%);
	border-color: $border-color;
	position: relative; 

	&:before {
		content:'';
		position: absolute;
		@include box-size(0);
		top:-23px; left: calc(50% - 2px);
		border: 5px solid transparent;
		border-bottom-color: $border-color;
		line-height: 0;
		position: relative;
	}
	&:after {
		content: '';
		position: absolute;
		left: calc(50% - 2px);
		top: 0;
		@include box-size(0);
		border: 5px solid transparent;
		border-top-color: $border-color;
		line-height: 0;
	}

	&.no-sign {
		&:before, &:after { display: none; }
	}

	&.spacing-small {
		margin: ($spacing-base-vertical * 2) 0;
	}
}

p {	
	margin-bottom: $spacing-large-vertical;
	font-weight: $theme-fw-normal;
	font-size: $theme-fs-bs;
}

small {
	font-size: $theme-fs-sm;
}

section img, [class="col-"] img {
	@include box-size(100%, auto);
}